ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  
  li a{
    height: 22rem;
    width: 22rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    background-color: rgb(24,22,27);
    color: #c0ad00;
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
  }
  
  li a:hover{
    opacity: 0.7;
    cursor: pointer;
  }
  
  li a image{
    object-fit: cover;
    height: 14.5rem;
  }
  
  .content{
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
  }

  .product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .origins{
    flex: 9;
  }
  
  .origins span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 0.8rem;
    color: grey;
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
  }

  .price{
    position: absolute;
    bottom: 0;
    left: 0.9rem;
    padding: 0.3rem 100% 0 0;
    color: #ffffff;
    margin-top: 0.7rem;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
  }

  