<ul>
    <li *ngFor="let product of products">
        <a routerLink="/product/{{product.id}}">
            <img [src]="product.images" [alt]="product.name"/>
            <div class="content">
                <div class="name">
                    <span>
                        {{product.name}}
                    </span>
                </div>
                <div class="price">
                    <span>
                        {{product.price | currency}}
                    </span>
                </div>
                <div class="color">
                    <span>
                        {{product.color}}
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>