/* You can add global styles to this file, and also import other style files */

/*se ve como fortnite*/
@import url(https://fonts.googleapis.com/css2?family=Staatliches&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap);


*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}
html,
button{
    font-family: "Staatliches", "sans-serif";
}

body{
    margin: 0;
}
a{
    text-decoration: none;
}